# --- PROTECT SENSITIVE DATA ---
# This hides your password even if the file is in the Backend folder
# (Wait! If you want to push app.js, you MUST remove your password first)
# Backend/app.js

# --- BLOCK HEAVY JUNK ---
node_modules/
.idea/
.DS_Store
package-lock.json
dist/